name: Postman Collection Workflow

on:
  push:
    branches: [main]
  workflow_dispatch: 
  schedule:
    - cron: '30 02 * * *'
    - cron: '00 14 * * *'
    - cron: '00 06 * * 1-5'

jobs:
  run-postman-tests: 
    runs-on: ubuntu-latest
    steps: 
        - name: Checkout the code
          uses: actions/checkout@v6.0.2

        - name: Install Nodejs and npm
          uses: actions/setup-node@v6.2.0
          with: 
           node-version: '22' 

        - name: Install Newman and html extra globally
          run: |
            npm install -g newman 
            npm install -g newman-reporter-htmlextra

        - name: Run the Postman Collection with newman
          run: |
               newman run 'In-Warranty Flow Copy.postman_collection.json' \
               -e 'QA Env.postman_environment.json' \
               -d testdata.csv \
               -r cli,htmlextra \
               --reporter-htmlextra-export ./newman/index.html

        - name: Newman Report
          if: always()
          uses: actions/upload-artifact@v6.0.0
          with: 
            name: Newman Report 
            path: newman/*.html

        - name: Creating github page branch
          if: always()
          uses: peaceiris/actions-gh-pages@v4.0.0
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: newman/

        - name: Send email notification
          if: always()
          uses: dawidd6/action-send-mail@v7
          with:
            server_address: smtp.gmail.com
            server_port: 465
            username: ${{ secrets.EMAIL_USERNAME }}
            password: ${{ secrets.EMAIL_PASSWORD }}
            subject: Phoenix Inwarrenty Flow Test Execution
            to: mprajacta04@gmail.com
            from: ${{ secrets.EMAIL_USERNAME }}
            body: |
                  Hi, 
                  Phoenix Inwarrenty Flow tests has been executed. The Report has been published and the URL
                  is: https://prajacta09.github.io/Phoenix-Inwarrenty-Flow-PostmanAutomation/
          
          
            


       

