name: Postman Collection Workflow

on:  
 push:
   branches: [main]
  workflow_dispatch: 
  schedule:
    - cron : 30 02 * * *
    - cron : 00 14 * * *s
    - cron : 00 06 * * 1-5

  jobs:
    run-postman-tests: 
      runs-on: ubuntu-latest

      steps: 
        - name: Checkout the code
          uses: actions/checkout@v6.0.2

        - name: Install Nodejs and npm
          uses: actions/setup-node@v6.2.0
          with: 
           node-version: '22' 

        - name: Install Newman and html extra globally
          run: npm install -g newman && newman-reporter-htmlextra

        - name: Run the Postman Collection with newman
          run: |
               newman run 'In-Warranty Flow Copy.postman_collection.json' \
               -e QA Env.postman_environment.json \
               -d testdata.csv \
               -r cli,htmlextra

        - name: Newman Report
          if: always()
          uses: actions/upload-artifact@v6.0.0
          with: 
            name: Newman Report 
            path: newman/*.html


               


               
        
          
